.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

#topbar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 48px;
	background-color: #ff00ff;
}
	 
#content {
	position: absolute;
	left: 0;
	right: 0;
	top: 48px;
	bottom: 0;
}	 

#login {
	position: absolute;
	right: 0;
	top: 0;
	width: 195px;
	background-color: #00ff00;
	padding: 8px;
}

#patchnotes {
	width: 100%;
	height: 100%;
}

#patchnote_box {
	position: absolute;
	left: 18px;
	top: 100px;
	width: 420px;
	height: 240px;
}

#version {
	position: absolute;
	left: 6px;
	top: 4px;
}
#server_status {
	position: absolute;
	left: 6px;
	top: 28px;
}

#patching_box {
	position: absolute;
	left: 28px;
	right: 28px;
	bottom: 95px;
	height: 30px;
	background-color: blue;
}

#buttons_box {

	position: absolute;

	left: 28px;

	right: 28px;

	bottom: 50px;

	height: 40px;

	background-color: red;

}

#buttons_box button {
	display: block;
	float: left;
	width: 17%;
	height: 100%;
	margin-right: 4%;
	margin-left: 4%;

background: rgb(228,245,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
cursor: hand;
}

#buttons_box button:disabled {
	background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
cursor: wait;
}

#download_box {
	position: absolute;
	right: 0px;
	height: 250px;
	width: 250px;
	bottom: 127px;
}

#download_box .vscroll {
	width: 100%;
	height: 100%;
}

/* Scroll bar example: http://cssdeck.com/labs/css3-webkit-vertical-scrollbars/ */
.vscroll {
	overflow-y: auto;
	overflow-x: hidden;
}
